
<nav class="navbar navbar-light " style="background: #ffbb33;">
    <a href="" class="navbar-brand">
        <img src="/imgs/socorro.png" alt="logotipo de pergunta">
        Ajudaqui.com
    </a>
</nav>