<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>

        
    <div class="container" id="formulario-pergunta">
       <div class="card cardYellow">
            <div class="card-header">
                <h3>Realizar Perguntas :</h3>
            </div>
            <a href="/questioner"></a>
            <div class="card-body">
                <form method="POST" action="/questioner">
                    <label > Título: </label>
                    <input type="text" placeholder="Título" class="form-control" name="title">
                    <label > Descrição: </label>
                    <textarea placeholder="Descreva sua Pergunta Aqui" class="form-control" name="description"></textarea>
                    <br>
                    <button class="btn btn-dark">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('partials/footer.ejs') %>
